<%= form_for(@innovators_challenge) do |f| %>
  <% if @innovators_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@innovators_challenge.errors.count, "error") %> prohibited this innovators_challenge from being saved:</h2>

      <ul>
      <% @innovators_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :innovator_id %><br>
    <%= f.number_field :innovator_id %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.number_field :challenge_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
