<section class ="topnav">

      <h3>Open</h3><a href="#">
      <img alt="Icon" src="/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.jpg" />
      <img src="/assets/images/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.jpg"></a>
      <ul>
        <li><a href="#">On Campus</a></li>
        <li><a href="#">Online</a></li>
        <li><a href="#">Corporate Training</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </section>
<div class="wrapper">
<h1>Listing challenges</h1>
<table>
<tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.date %></td>
        <td><%= challenge.title %></td>
        <td><%= challenge.body %></td>
        <td><%= challenge.vote %></td>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'Add a challenge', new_challenge_path %>

</div>
