<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @challenge.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @challenge.body %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @challenge.vote %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
