<!DOCTYPE html>
<html>
<head>
  <title>OpenGA</title>
  <section class ="topnav">

      <h3>Open</h3><a href="#">
      <img alt="Icon" src="/assets/open-Final-white.png"/></a>
     <ul>
        <li><a href="#">On Campus</a></li>
        <li><a href="#">Online</a></li>
        <li><a href="#">Corporate Training</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </section>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <% if current_innovator.present? %>
          <li><%= link_to "Log out", destroy_innovator_session_path, :method => "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", new_innovator_session_path %></li>
          <li><%= link_to "Sign up", new_innovator_registration_path %></li>
        <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
